@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title{
  text-align: center;
  color: darkblue;
  font-family: 'Yusei Magic', sans-serif;
  font-weight: 'bold';
  font-size: 25px;
  margin-top: 0px;
 }

 .preview{
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 450px;
    width: 500px
 }

.languages_known{
  margin-left: 20px;
  font-style: italic;
  font-weight: 'bold';
  font-size: 17px;
  padding-bottom: 40px;
}

.languages{
  margin-left: 550px;
  width: 300px;
  height: 274px;
  border: 2px solid black;
  border-radius: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
